@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --line-color: #e5e7eb;
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
}

.borderBlack {
  @apply border border-black/10;
}

.timeline-date {
  @apply text-white sm:text-gray-400;
  font-size: 0.9rem;
}

@media (min-width: 1170px) {
  .timeline-date {
    @apply text-gray-400;
  }
}

/* Ensure the timeline text is visible on small screens */
.vertical-timeline-element-date {
  @apply !text-white/60 sm:!text-gray-400;
}
